.honk-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(to right, rgb(240, 236, 236), rgb(255, 255, 255));
}

.leyenda-footer {
  font-family: "Honk", system-ui;
  font-variation-settings: "MORF" 15, "SHLN" 50;
  font-size: 18px !important;
  text-align: center;
  padding-top: 5%;
}
